/*обнуляем шрифты*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
/*меняет подсчет ширины блока так что бы было удобней верстать*/
*,
*::before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*убераем линии обводки у некоторых браузеров*/
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

/*перечисляем некоторые html5 теги и добавляем значение блок что делает их блочными*/
nav,
footer,
header,
aside {
  display: block;
}

/*применяем параметры которые уравнивают поведение шрифтов и элементов для разных браузеров*/
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/*обращаемся к тегам форм и просим унаследовать шрифт*/
input,
button,
textarea {
  font-family: inherit;
}

/*несколько параметров к разным тегам которые уберают особенности в разных браузерах*/

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
/*обнуляем все заголовки h*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
